*{
	box-sizing: border-box;
}

body{
	width:100%;
	font-family:"Helvetica Neue";
}

a{
	text-decoration: none;
}
/*=============header============*/
header{
	width:250px;
	margin:30px auto;
}

header > .myPic{
	width:250px;
	height:250px;
	-webkit-box-shadow: -4px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -4px 3px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width : 1224px){
	#banner{
		display:block;
		width:960px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 60px;
		font-weight: bold;
		background-color: #fff;
		font-family: 'Roboto', sans-serif;
		border-bottom: 2px solid #d4d4d6;
		padding:20 0;
		line-height: 0;
		color:#b7b9bc;
	}

	header{
		margin-left:15%;
		margin-top: 5%;
	}

	header > .myPic{
		border-radius: 0;
		height:300px;
	}
}

/*===============================*/

/*=============Main-Section============*/
main{
	width:350px;
	margin-left:auto;
	margin-right:auto;
}

section h1{
	font-size: 18px;
	border:1px solid #c5c8cc;
	background: #195fd1;
	text-align: center;
	padding:20px 0;
}
section a{
	color:#fff;
}

section h1:hover{
	font-size: 26px;
	opacity:.7;
	transition:all 1s ease-in-out;
}

.experience .hidden p, .education .hidden p{
	font-weight: bold;
	color: #0a3d91;
}
@media screen and (min-width : 1224px){
	main{
		width:800px;
	}
	section{
		position: relative;
		bottom:300px;
		left:180px;
	}

	section h1{
		font-size: 26px;
	}
}

/*==================================*/

/*==============Footer===============*/
footer{
	width:350px;
	margin: 50px auto 0 auto;
}

footer > h1{
	font-size: 18px;
	color:#96989b;
	text-align: center;
	margin-bottom: 20px;
}

footer img{
	height:50px;
	width:50px;
}

footer > ul >li {
	display:inline-block;
	margin-left: 15%
}

footer img:hover{
	height:50px;
	width:50px;
	opacity:.7;
	transition:1s ease;
}

@media screen and (min-width : 1224px){
	footer{
		width:700px;
		margin-top:-220px;
	}

	footer img{
		height:100px;
		width:100px;
		transition: 1s;
	}
}

/*===================================*/

.hidden{
	display:none;
	padding:50px;
	background-color:#d7dae0;
	line-height: 200%;
}

.show{
	display:block;
}







